@using STech_Web.Identity
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Tài khoản";
}

@if (User.Identity.IsAuthenticated)
{
    <section class="account-wrapper d-flex">
        <div class="account-left-side">
            <div class="account-name d-flex align-items-center">
                <ion-icon name="person-circle-outline"></ion-icon>
                <span>@User.Identity.Name</span>
            </div>  
            <hr />
            <div class="account-nav">
                <ul class="account-nav-list">
                    <li class="account-nav-list-item" id="info-nav">
                        <a href="#account-info" class="activeNav">
                            <i class="fa-solid fa-user account-list-icon"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item" id="orders-nav">
                        <a href="#orders">
                            <i class="fa-solid fa-bag-shopping account-list-icon"></i>
                            <span>Đơn hàng</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item" id="password-nav">
                        <a href="#password">
                            <i class="fa-solid fa-key account-list-icon"></i>
                            <span>Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item">
                        <p class="account-logout">
                            <i class="fa-solid fa-right-from-bracket account-list-icon"></i>
                            <span>Đăng xuất</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="account-right-side">
            <div class="account-right-box current" data-account-side="account-info">
                <h3 class="r-side-header">Thông tin tài khoản</h3>
                <div class="account-info-wrapper">
                    <form action="#" method="post" class="user-update-form">
                        @{
                            var appDbContext = new AppDBContext();
                            var userStore = new AppUserStore(appDbContext);
                            var userManager = new AppUserManager(userStore);
                            var user = userManager.FindById(User.Identity.GetUserId());
                        }
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Họ tên</span>
                            </div>
                            <input type="text" id="UserFulName" name="UserFulName" value="@user.UserFullName" />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Giới tính</span>
                            </div>
                            <div class="input-radio d-flex align-items-center">
                                @if (user.Gender == "Nam")
                                {
                                    <input type="radio" id="Gender1" name="Gender" value="Nam" checked />
                                    <label for="Gender1">Nam</label>
                                    <input type="radio" id="Gender2" name="Gender" value="Nữ" />
                                    <label for="Gender2">Nữ</label>
                                }
                                else if (user.Gender == "Nữ")
                                {
                                    <input type="radio" id="Gender1" name="Gender" value="Nam" />
                                    <label for="Gender1">Nam</label>
                                    <input type="radio" id="Gender2" name="Gender" value="Nữ" checked />
                                    <label for="Gender2">Nữ</label>
                                }
                                else
                                {
                                    <input type="radio" id="Gender1" name="Gender" value="Nam" />
                                    <label for="Gender1">Nam</label>
                                    <input type="radio" id="Gender2" name="Gender" value="Nữ" />
                                    <label for="Gender2">Nữ</label>
                                }
                            </div>
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Số điện thoại</span>
                            </div>
                            <input type="text" id="PhoneNumber" name="PhoneNumber" value="@user.PhoneNumber" />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Email</span>
                            </div>
                            <input type="email" id="Email" name="Email" value="@user.Email" />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Ngày sinh</span>
                            </div>
                            <input type="date" id="DOB" name="DOB" value="@( user.DOB.HasValue ? user.DOB.Value.ToString("yyyy-MM-dd") : "")" />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Địa chỉ</span>
                            </div>
                            <input type="text" id="Address" name="Address" value="@( user.Address )" />
                        </div>
                        <input type="hidden" id="userID" name="userID" value="@User.Identity.GetUserId()" />
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end"></div>
                            <button type="submit" class="user-form-submit">LƯU THAY ĐỔI</button>
                        </div>
                    </form>

                    <div class="update-error mt-3">
                    </div>
                </div>
            </div>

            <div class="account-right-box" data-account-side="orders">
                <h3 class="r-side-header">Đơn hàng</h3>
                <div class="orders-wrapper">

                </div>
                <div class="update-error mt-3">
                </div>
            </div>

            <div class="account-right-box" data-account-side="password">
                <h3 class="r-side-header">Đổi mật khẩu</h3>
                <div class="password-wrapper">
                    <form action="#" method="post" class="change-password-form">
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Mật khẩu cũ</span>
                            </div>
                            <input type="password" id="OldPassword" name="OldPassword" value="" required />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Mật khẩu mới</span>
                            </div>
                            <input type="password" id="NewPassword" name="NewPassword" value="" required />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end">
                                <span>Nhập lại mật khẩu mới</span>
                            </div>
                            <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" value="" required />
                        </div>
                        <div class="user-form-box d-flex align-items-center">
                            <div class="user-input-label text-end"></div>
                            <button type="submit" class="user-form-submit">ĐỔI MẬT KHẨU</button>
                        </div>
                    </form>
                </div>
                <div class="update-error mt-3">
                </div>
            </div>
        </div>
       
    </section>
}