
@{
    ViewBag.Title = "Giỏ hàng - STech";
}

@using Microsoft.AspNet.Identity;

@model dynamic

<section class="cart-wrapper">
    <div class="container-fluid">
        <div class="breadcrumb-cart">
            <a href="/collections/all">
                <i class="fa-solid fa-chevron-left"></i>
                <span>Mua thêm sản phẩm khác</span>
            </a>
        </div>
        <div class="cart-main">

            <div class="checkout-steplist">
                <div class="checkout-step step-1 step-active">
                    <i class='bx bxs-shopping-bag-alt step-icon'></i>
                    <span class="step-text">Giỏ hàng</span>
                </div>
                <div class="checkout-step step-2">
                    <i class='bx bxs-id-card step-icon'></i>
                    <span class="step-text">Thông tin đặt hàng</span>
                </div>
                <div class="checkout-step step-3">
                    <i class='bx bxs-credit-card step-icon'></i>
                    <span class="step-text">Thanh toán</span>
                </div>
                <div class="checkout-step step-4">
                    <i class='bx bxs-check-shield step-icon'></i>
                    <span class="step-text">Hoàn tất</span>
                </div>
            </div>

            @if (ViewBag.CartCount > 0)
            {
                <div class="cart-info">
                    <form action="#" method="post" class="cart-products-form">
                        @{
                            decimal totalPrice = 0;
                            var i = 0;
                            foreach (var item in Model)
                            {
                                if (item != null)
                                {
                                    i++;
                                    totalPrice += (decimal)item.Product.Price * item.Quantity;
                                    <div class="cart-product-box d-flex">
                                        <div class="cart-product-left d-flex flex-column align-items-center gap-2">
                                            <a href="/product/@item.Product.ProductID">
                                                <div class="cart-img">
                                                    <img src="@item.Product.ImgSrc" alt="" />
                                                </div>
                                            </a>
                                            <a href="/cart/deletecartitem?line=@i" class="delete-cart-item d-flex gap-2 align-items-center">
                                                <i class="fa-regular fa-trash-can"></i>
                                                <span>Xóa</span>
                                            </a>
                                        </div>
                                        <div class="cart-product-right d-flex justify-content-between">
                                            <div class="cart-product-name">
                                                <a href="/product/@item.Product.ProductID">
                                                    <h5>@item.Product.ProductName</h5>
                                                </a>
                                            </div>
                                            <div class="cart-product-price-quantity">
                                                <div class="cart-product-price">

                                                    <h5>@(Convert.ToDecimal(item.Product.Price).ToString("##,###", ViewBag.cul))đ</h5>
                                                    @if (item.Product.Cost != null && item.Product.Cost.ToString().Length > 0)
                                                    {
                                                        <h6>@(Convert.ToDecimal(item.Product.Cost).ToString("##,###", ViewBag.cul))đ</h6>
                                                    }
                                                </div>
                                                <div class="cart-product-quantity">
                                                    <button type="button" class="update-quantity decrease-quantity" @( item.Quantity <= 1 ? "disabled" : "")
                                                            onclick="window.location.href = '/cart/updatequantity?productID=@item.Product.ProductID&updatetype=decrease'">
                                                        <i class="fa-solid fa-minus"></i>
                                                    </button>
                                                    <input type="number" name="quantity" value="@item.Quantity" data-quantity="@item.Quantity"
                                                            data-product="@item.Product.ProductID" data-price="@item.Product.Price" readonly min="1" />
                                                    <button type="button" class="update-quantity increase-quantity"
                                                            onclick="window.location.href = '/cart/updatequantity?productID=@item.Product.ProductID&updatetype=increase'">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </form>
                    <hr class="cart-hr" />
                    <div class="cart-product-total d-flex flex-column gap-3">
                        <div class="summary-shipping">
                            <span class="s-shipping-title">Phí vận chuyển: </span>
                            <span class="ship-price">Miễn phí</span>
                        </div>
                        <div class="summary-price">
                            <span class="s-price-title">Tổng tiền: </span>
                            <span class="total-price">@(totalPrice.ToString("##,###", ViewBag.cul))đ</span>
                        </div>
                        <button class="summary-action">
                            ĐẶT HÀNG NGAY
                        </button>
                    </div>
                </div>
                <div class="cart-order-info"></div>
                <div class="cart-payment"></div>
                <div class="cart-success"></div>
            }
            else
            {
                <div class="cart-info">
                    <div class="cart-empty d-flex flex-column align-items-center py-5">
                        <p>Giỏ hàng của bạn đang trống</p>
                        <button class="to-home-page-btn" onclick="window.location.href='/collections/all'">
                            TIẾP TỤC MUA HÀNG
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>